<% layout('layouts/boilerplates') %> <!-- This line is added to include the boilerplate layout -->
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h2 class="mb-4">Edit Listing</h2>
        <form method="post" action="/listings/<%= listings.id %>?_method=PUT" novalidate class="form-group needs-validation">
            <div class="mb-3"> // This is for the title
                <label for="title" class="form-label">Title</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="listing[title]" 
                    id="title" 
                    value="<%= listings.title %>" 
                    placeholder="enter title"
                    required
                >
                <div class="invalid-feedback">
                    please provide a valid title.
                 </div>
            </div>

            <div class="mb-3"> // This is for the description
                <label for="description" class="form-label">Description</label>
                <textarea 
                    name="listing[description]" 
                    id="description" 
                    class="form-control" 
                    rows="4" 
                    placeholder="Enter Description"
                    required
                ><%= listings.description %></textarea>
                <div class="invalid-feedback">
                    please provide a valid description.
                </div>
            </div>

            <div class="mb-3"> // This is for the image
                <label for="image" class="form-label">Image Link</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="listing[image]" 
                    id="image" 
                    value="<%= listings.image%>" 
                    placeholder="enter image URL/Link"
                    required
                >
                <div class="invalid-feedback">
                    please provide a valid image link.
                </div>
            </div>

            <div class="row"> 
                <div class="mb-3 col-md-4"> // This is for the price
                    <label for="price" class="form-label">Price</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        name="listing[price]" 
                        id="price" 
                        value="<%= listings.price %>" 
                        placeholder="enter price"
                        required
                    >
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>

                <div class="mb-3 col-md-8"> // This is for the country
                    <label for="country" class="form-label">Country</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="listing[country]" 
                        id="country" 
                        value="<%= listings.country %>" 
                        placeholder="enter country"
                        required
                    >
                    <div class="invalid-feedback">
                        please provide a valid country.
                    </div>
                </div>
            </div>

            <div class="mb-3"> // This is for the location
                <label for="location" class="form-label">Location</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="listing[location]" 
                    id="location" 
                    value="<%= listings.location %>" 
                    placeholder="enter location"
                    required
                >
            </div>
            <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
            <br><br>
        </form>
    </div>
</div>
<script src="/public/js/script.js"></script>
