<% layout('layouts/boilerplates') %>
<div class="row">
    <div class="col-8 offset-2 mt-3 mb-2">
        <h2><b><%= listings.title || 'No Title Available' %></b></h2>
    </div>

    <div class="card col-6 offset-3 show-card">
        <img src="<%= listings.image || '/default-image.jpg' %>" class="card-img-top show-img" alt="Listing image">
        <div class="card-body">
            <p class="card-text">
                <br>
                <%= listings.description || 'No Description Provided' %> <br>
                &#8377;<%= listings.price ? listings.price.toLocaleString('en-IN') : 'N/A' %> <br>
                <%= listings.location || 'No Location Specified' %> <br>
                <%= listings.country || 'No Country Specified' %> <br>
            </p>
        </div>
    </div>

    <div class="btns offset-3">
        <a href="/listings/<%= listings.id %>/edit" class="btn btn-dark col-1 offset-2 edit-btn mb-2">Edit</a>
        <br><br>
        <form action="/listings/<%= listings.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-dark offset-4">Delete</button>
        </form>
    </div>
</div>
